html, body
  &.light
    --text: black
    --background: #F0FFF0
    --menu: black
    --menubg: MintCream
    --menufg: MintCream
  &.norm
    --text: GhostWhite
    --background: DimGrey
    --menu: green
    --menubg: #708090
    --menufg: #9E1030
  &.dark
    --text: Snow
    --background: #333
    --menu: white
    --menubg: black
    --menufg: #9E1030

