html, body
  &.light
    --text: black
    --background: #F0FFF0
    --menu: black
    --menubg: white
  &.norm
    --text: GhostWhite
    --background: DimGrey
    --menu: color.scale(GhostWhite, $lightness: -20%) //menu text
    --menubg: color.scale(DimGrey, $lightness: 20%) //menu background
  &.dark
    --text: white
    --background: #333
    --menu: white
    --menubg: black
