// ###############################################
// ###############################################
// START Boilerplate (not Important for the Tutorial)

@import 'reset.css'
@import 'fw_main'

body, html
    font-family: 'Roboto', serif
    width: 100%
    height: 100%
    color: var(--text)
    background-color: var(--background)
    font-size: 10px
    //display: flex
    justify-content: center
    align-items: center





*
    box-sizing: border-box

// END Boilerplate (not Important for the Tutorial)
// ###############################################
// ###############################################
