
// ### defs for website ###
@import 'menu'

// ### content ###
@import "helper/cut_text"
@import 'helper/animated skillbar'
@import 'helper/repair'


body, html
//  width: 100% //Scrollbar Problem
  height: 100%

// cuttet textlength tests
.text-box
  font-size: 2rem
  width: 24rem
  height: 10rem
  padding: 1rem
  //border: 0.1rem white solid  Randlos

p, h1, h2, h3, h4, h5, h6
  font-family: "open sans", serif

form
  margin: 30px
  label
    font-family: "open sans", serif
    font-size: large
  input
    color: #F0FFF0
    background-color: #34A853

    border: 2px hidden #7CBB00
    border-bottom-style: solid
    border-radius: 5px
    height: 30px
    &:active //not works on input
    &:hover
      background-color: #00ff80
      color: black


#bday



//theme
#light
  background: aliceblue
  color: aliceblue
#norm
  background: slategrey
  color: slategrey
#dark
  background: black
  color: black
